@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height:3000px;
}

@keyframes swing {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

.swing-animation {
    animation: swing 2s linear infinite;
}

@media(max-width:768px) {

    .mobile-menu, .header {
        background-color: #0d1323;
    }
    .home-content{
        margin-top:25%;
    }
}
@media(max-width:500px) {

    .home-content{
        margin-top: 40%;
    }
}